@import url('https://fonts.google.com/specimen/Hanken+Grotesk');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-weight: 500;

}


article * {
    display: flex;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

article {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
}

@media only screen and (min-width: 768px) {
    article {
        box-shadow: 1px 1px 5px 5px hsla(224, 30%, 27%, 0.1);
        border-radius: 33px;
        flex-direction: row;
        max-width: 735px;
        min-height: fit-content;
    }
}

.header {
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    padding: 30px 45px;
    padding-bottom: 40px;
    align-items: center;
    width: 100%;
    color: hsl(241, 100%, 89%);
    border-radius: 0 0 33px 33px;
    gap: 28.5px;

    #round {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
        width: 140px;
        aspect-ratio: 1;

        h2 {
            font-weight: 800;
            font-size: 55px;
            color: white;
        }

        h3 {
            font-weight: 700;
            font-size: 16px;
            color: hsl(241, 100%, 89%);
        }
    }

    h1 {
        font-weight: 500;
    }

    #text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;

        h4 {
            color: white;
            font-weight: 700;
            font-size: 24px;
        }

        p {
            font-size: 16px;
            text-align: center;
        }
    }


}

@media screen and (min-width: 768px) {
    .header {
        border-radius: 33px;
    }
}

.summary {
    color: hsl(224, 30%, 27%);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 30px;
    padding-bottom: 40px;
    width: 100%;

    h2 {
        font-weight: 800;
    }

    .score {
        display: flex;
        justify-content: space-between;
        border-radius: 9px;
        padding: 18px 21px;
        background-color: hsl(221, 100%, 96%);

        .title {
            display: flex;
            gap: 16px;
            align-items: center;

            img {
                aspect-ratio: 1;
                height: 16px;
            }

        }

        span {
            font-weight: 700;
            font-stretch: ultra-expanded;

            &::after {
                content: ' / 100';
                margin-left: 10px;
                color: hsla(224, 30%, 27%, 0.5);
            }
        }
    }

    button {
        padding: 18px;
        border-radius: 100px;
        background-color: hsl(224, 30%, 27%);
        color: white;
        justify-content: center;
        font-weight: 700;

        &:hover {
            cursor: pointer;
            background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        }
    }
}

@media screen and (min-width: 768px) {

    .header {
        h1 {
            font-weight: 800;
            font-size: 24px;
        }

        #round {
            width: 200px;

            h2 {
                font-size: 72px;
            }

            h3 {
                font-size: 18px;
            }
        }

        #text {
            h4 {
                font-size: 32px;
            }
        }
    }

    .summary {
        border-radius: 0 33px 33px 0;
    }
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 11px;
}